*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
    transition: 0.6s;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: azure;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    background-color: rgba(137, 43, 226, 0.244);
    box-shadow: 6px 6px 5px purple;
    align-content: center;
    width: 100%;
}
header h1{
    margin: 3px;
}

nav{
    display: flex;
    gap: 10px;
}
nav li{
    flex: 1 1 200px;
    margin: 3px;
    border: 3px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 0%, 0.249);
    transition: 0.5s;
}
nav li:hover{
    box-shadow: 5px 5px 5px black;
    background-color: hsla(112, 97%, 62%, 0.829);
    font-size: larger;
    font-weight: bolder;
}

.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.content{
    width: 50%;
    align-content: center;
    margin:8% 5%;
}

.content h1{
    font-size: 80px;
    margin-bottom: 1%;
    letter-spacing: 8px;
}

.content h3{
    font-size: 25px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content h3 span{
    color: yellow;
}

.content p{
    font-size: 20px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    padding: 15px 30px;
    font-size: 17px;
    font-weight: bolder;
    background-color: transparent;
    color: azure;
    border-radius: 10px;
    transition: 0.5s;
    
}

button:hover{
    box-shadow: 3px 3px 5px rgb(175, 173, 173);
    background-color: hsla(271, 84%, 25%, 0.821);
}

.image  {
    width: 50%;
    margin-top: 8%;
}

img{
    width: 40rem;
    height: 20rem;
}

 img:hover{
    opacity: 0.5;
    
} 

@media screen and (max-width:1200px) {
    .content{
        width:100%;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .image{
        width: 100%;
        position: absolute;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-content: center;
        z-index: -1;
    }

    img{
        width: 35rem;
        height: auto;
    }
}

@media screen and (max-width:576px) {
    .content{
        width:100%;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .content h1{
       margin-bottom: 5%;
    }

    .content h3{
        margin-bottom: 5%;
    }

    .content p{
        margin-bottom: 5%;
    }

    .image{
        width: 100%;
        position: absolute;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-content: center;
        z-index: -1;
    }

    img{
        width: 30rem;
        height: auto;
    }
}

@media screen and  (max-width:600px){
    header{
        display: block;
        text-align: center;
        width: 100%;
    }
   nav{
    display: block;
   }

   nav li {
    margin: 5px 0;
   }

   header h1{
    margin-bottom: 10px;
   }
}